frontend/node_modules/
frontend/src/assets/
backend/node_modules/
backend/public/images/
backend/migrations/
backend/config/config.json
backend_django/backend_django/__pycache__/
backend_django/forecastapi/__pycache__/
backend_django/forecastapi/migrations/
backend_django/db.sqlite3
backend_django/
frontend/src/components/forecasting/modelpredict copy